/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5i9o3bwgxm] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5i9o3bwgxm] {
  color: #0077cc;
}

.btn-primary[b-5i9o3bwgxm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5i9o3bwgxm], .nav-pills .show > .nav-link[b-5i9o3bwgxm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5i9o3bwgxm] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5i9o3bwgxm] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5i9o3bwgxm] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5i9o3bwgxm] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5i9o3bwgxm] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 0px;
}

@media (min-width: 100px) {
  .container[b-5i9o3bwgxm], .container-lg[b-5i9o3bwgxm], .container-md[b-5i9o3bwgxm], .container-sm[b-5i9o3bwgxm], .container-xl[b-5i9o3bwgxm], .container-xxl .container-fluid[b-5i9o3bwgxm] {
    max-width: 2000px !important; 
    width: auto !important; 
    --bs-gutter-x: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.container-fluid[b-5i9o3bwgxm] {
  max-width: 100% !important;
  --bs-gutter-x: 0rem !important;
  padding: 0rem !important;
}

.body[b-5i9o3bwgxm] {
  padding-right: 0 !important;
    padding-left: 0 !important;
  margin: 0 !important;
}